<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/login.css">
    <link rel="stylesheet" href="/static/style/navbar.css">
    <link rel="stylesheet" href="/static/style/task.css">
    <link rel="stylesheet" href="/static/style/drop-down.css">
    <link rel="stylesheet" href="/static/style/modal.css">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script src="/static/javascript/plainjs.js"></script>
    <script src="/static/javascript/makeqqr.js"></script>
    <script src="/static/javascript/modal.js"></script>






    <title>ARP</title>
</head>

<body>
        <!-- The Modal -->
        <div style="animation: fadein 0.5s;" id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span onclick="closeModal('myModal')" class="close">&times;</span>
                <div style="text-align: center;">
                    <canvas id="qr-code"></canvas>
                    <p style="margin:0; font-style:italic" id="qrfor"></p>
                </div>
            </div>
    
        </div>
        <div style="animation: fadein 0.5s;" id="notime" class="modal">
    
            <!-- Modal content -->
            <div class="modal-content">
                <span onclick="closeModal('notime')" class="close">&times;</span>
                <div style="text-align: center;">
    
                    <h2>Pole jõudnud</h2>
                </div>
            </div>
    
        </div>
    <div class="navbar">
       
        <div style="float:left" class="nav-logo"><a href="/"><h1>ARP</h1></a></div>
        <button onclick="openMenu()" class="button-style-2">☰</button>

        <div>
            <li><a class="active"  href="/">Avaleht</a></li>
            <li><a href="/objektid/">Objektid</a></li>
            <li><button onclick="openModal('notime')">Hooldus kava</button></li>
            <li><button onclick="openModal('notime')">Hooldus toimingud</button></li>
            <li><button onclick="logOut()" >Logi välja</button></li>
        </div>

    </div>
    <div class="taskflex">
        <div id="dropmenu" style="display: none;background-color:rgb(250, 250, 250);" class="drop-area">
            <button onclick="logOut()" >Logi välja</button>
            <button onclick="openModal('notime')">Hooldus toimingud</button>
            <button onclick="openModal('notime')">Hooldus kava</button>
            <a href="/objektid/">Objektid</a>
            <div style="margin: 0;" class="activedrop"><a  href="/">Avaleht</a></div>
            

        </div>
        <div id="task1">
            <p>Jagamata sündmused</p>
        </div>
        <div id="task2">
            <p>Töötajate valik</p>
        </div>
        <div id="task3">
            <p>Kalender</p>
        </div>


    </div>

    <script>
        username = localStorage.getItem('Username')
        console.log('Logged in as:',username)

    </script>
</body>

</html>